@font-face {
  font-family: "Segoe UI", sans-serif;
  src: local("Segoe UI"), url("../fonts/SegoeUI/SegoeUI.ttf") format("truetype");
  font-weight: normal;
  /* font-style: normal; */
}

@font-face {
  font-family: "Segoe UI", sans-serif;
  src: local("Segoe UI"),
    url("../fonts/SegoeUI/SegoeUI_Bold.ttf") format("truetype");
  font-weight: bold;
  /* font-style: bold; */
}

.font-segoe-ui {
  font-family: "Segoe UI", sans-serif;
}
