:root {
  /* --main-text-cl: #000000;
  --secondary-text-cl: #bdbdbd;
  --auth-bg-cl: #e7eaf2; */
  --main-bg-cl: #202020;
  --secondary-bg-cl: #8c8c8c;
  /*  --accent-active-cl: #4a56e2;
  --accent-inactive-cl: #6e78e8;
  --income-cl: #24cca7;
  --income-hover-cl: #2eb899;
  --expense-cl: #ff6596;
  --expense-hover-cl: #e75b88;
  --bottom-table-row: #DCDCDF; */
}
